@font-face {
    font-family: 'Roboto-c';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto-c';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Philosopher';
    src: url(../fonts/Philosopher-Regular.ttf);
    font-weight: 400;
}

html{
    font-family: 'Roboto-c';
}

*{
    box-sizing:border-box;
}

body{
    background-color: #ffe2b0;
}

header{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
li{
    display: inline;
    margin-right: 100px;
}
li:last-child{
    margin-right: 0;
}

a{
    color: black;
    text-decoration-line: none;
    font-size: 18px;
}

nav{
    margin-bottom: 20px;
}
.section-about{
    height: 640px;
    background-image: url(../img/01-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;;
    margin-bottom: 20px;
}
.section-about_block{
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(251, 236, 205, 0.8), rgba(240, 165, 64, 0.8) 72%);
    position: absolute;
    left: 50%;
    top: 54%;
    padding-top: 15px;
}
.section-about_block_border{
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
}

.border_text_h1{
    
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    text-align: left;
    font-family: 'Philosopher';
}
.border_text_p{
    font-size: 14px;
    margin: 0;
    margin-right: 40px;
    text-align: left;
}

.section-description_icon-box{
    text-align: center;
    margin-bottom: 20px;
}
.section-description_icon-box img{
    width: 290px;
    height: 290px;
    margin-right: 76px;
}

.section-description_icon-box img:last-child{
    margin-right: 0px;
}


.section-description_text-box_h2{
    font-family: 'Philosopher';
    margin: 0;
    font-size: 96px;
    text-align: center;
    margin-bottom: 20px;
}

.section-description_text-box_p{
    font-size: 18px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.section-description_span{
    color: #f15b40;
}

.section-description{
    margin-bottom: 20px;
}

.section-interactive-to-order{
    font-family: 'Philosopher';
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.section-interactive-map{
    display: block;
    margin: 0 auto;
}

.section-interactive{
    margin-bottom: 20px;
}

.line{
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer{
    height: 80px;
}

